@import url('https://fonts.googleapis.com/css2?family=Philosopher&family=Roboto&family=Work+Sans:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

.nav-wrapper {
    display: flex;
    background-color: black;
}

.header {
    min-height: 100vh;
    background-image: url('../images/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.about {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 55px;
}

.nav {
    position: fixed;
    top: 0;
    z-index: 2;
    display: flex;
    justify-content: flex-end;
    width: 100%;
    background-color:blue;
}

.menu {
    display: flex;
    gap: 35px;
}

.menu__item,
.nav a {
    margin: 10px 0;
    padding: 5px 8px;
    font-family: 'Roboto', sans-serif;
    list-style: none;
    border: 2px solid transparent;
}

.menu__item a,
.logo {
    font-size: 22px;
    text-decoration: none;
    color: white;
}

.menu__item:hover {
    gap: 31px;
    border: 2px solid white;
}

#menu__toggle {
    opacity: 0;
}

.menu__btn {
    position: absolute;
    top: 30px;
    right: 20px;
    z-index: 1;
    display: flex; 
    align-items: center;   
    width: 26px;
    height: 26px;
    cursor: pointer;
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    background-color: white;
    visibility: hidden;
}

.menu__btn > span::before {
    content: '';
    top: -8px;
}

.menu__btn > span::after {
    content: '';
    top: 8px;
}

.menu__box {
    position: absolute;
    top: 0;
    left: -100%;
    z-index: 1;
    display: block;
    width: 300px;
    height: 100vh;
    margin: 0;
    padding: 80px 0;
    text-align: center;
    list-style: none;
    background-color: #DCDCDC;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
    visibility: hidden;
}

.menu__item {
    display: block;
    padding: 5px 20px;
    color: #333;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
}

.about {
    display: flex;
    gap: 8%;
    margin-top: 35px;
}

.section_photo {
    width: 30%;
    padding-bottom: 30px;
    background-color: white;
}

.section_photo__image,
.section_photo__description {
    margin-left: auto;
    margin-right: auto;
}

.section_photo__image {
    width: 85%;
    height: 400px;
    background-image: url('../images/ava.jpg') ;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.section_photo__name {
    margin-bottom: 15px;
    font-size: 24px;
    text-align: center;
    font-family: 'Philosopher';
    font-weight: 700;
}

.section_photo__description {
    width: 75%;
    padding: 15px;
    text-align: center;
    font-family: 'Roboto';
    background-color: #DCDCDC;
}

.section_description {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 40%;
    font-size: 20px;
    font-weight: 500;
    font-family: 'Roboto';
    color:black;
}

.hello {
    font-family: 'Philosopher';
    font-weight: 700;
    font-size: 28px; 
}

.section_description__about {
    line-height: 28px;
}

.download_cv {
    width: 45%;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    font-family: 'Roboto';
    background: #DCDCDC;
    color: black;
    cursor: pointer;
}

.icon-cv {
    width: 16px;
}

.content {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.skills,
.education,
.hobbies {
    padding-top: 55px;
    padding-bottom: 35px;
    background: #ededed;
}

.title {
    padding-bottom: 55px;
    font-family: 'Philosopher';
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
}

.section_skills {
    display: flex;
    gap: 5%;
    font-family: 'Roboto';
}

.professional_skills {
    width: 40%;
    padding-bottom: 35px;
    background-color: white;
}

.skills__title {
    width: 220px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -20px;
    margin-bottom: 45px;
    padding: 15px;
    font-size: 16px;
    font-family: 'Roboto';
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
    background: blue;
    color: white;
}

.skill {
    margin-left: 20px;
    font-family: 'Roboto';
}

.progress-bar {
    display: flex;
    height: 25px;
    width: 90%;
    margin: 2px 20px;
    background-color: lightgray;
}

.progress-bar .html,
.progress-bar .js,
.progress-bar .bootstrap,
.progress-bar .sass,
.progress-bar .react {
    background-color: blue;
}

.progress-bar .html {
    width: 85%;
}
.progress-bar .js {
    width: 80%;
}
.progress-bar .bootstrap {
    width: 80%;
}
.progress-bar .sass {
    width: 85%;
}
.progress-bar .react {
    width: 75%;
}

.progress-bar span {
    display: flex;
    padding-left: 10px;
    align-items: center;
}

.additional_skills {
    width: 60%;
    background-color: white;
}

.skills__progress,
.progress-circle__title {
    display: flex;
    justify-content: space-around;
}

.progress-circle {
    position: relative;
    width: 120px;
    height: 120px;
    background: transparent;
    border: 15px solid blue;
    border-radius: 50%;
}

.progress-circle__percent {
    position: absolute;
    top: 35%;
    left: 25%;
    font-size: 28px;
}

.progress-circle__title {
    margin-left: 15px;
    margin-top: 20px;
    list-style: none;
    font-family: 'Roboto';
    font-weight: 600;
}

.progress-circle__title li:nth-child(2) {
    margin-left: 30px;
}

.progress-circle__title li:nth-child(3) {
    margin-left: 25px;
}

.skills__add {
    display: flex;
    justify-content: space-around;
    margin-top: 35px;
}

.skills__add-item {
    position: relative;
    list-style: none;
    font-family: 'Roboto';
    font-weight: 500;
}

.skills__add-item::before {
    content: '';
    position: absolute;
    width: 24px;
    height: 24px;
    margin-left: -20px;
    background: url('images/check.png') no-repeat;
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.timeline {
    position: relative;
    width: 50%;
}

.timeline::before {
    content: '';
    position: absolute;
    left: 50%;
    height: 100%;
    width: 2px;
    transform: rotateX('-50%');
    background-color: blue;
}

.timeline ul li {
    position: relative;
    margin-bottom: 20px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    list-style: none;
}

.timeline ul li::after {
    content: '';
    position: absolute;
    top: 0;
    height: 28px;
    width: 28px;
    background-color: blue;
    border-radius: 50%;
}

.timeline-content h1 {
    margin-bottom: 10px;
    font-size: 26px;
    font-family: 'Roboto';
    font-weight: 600;
    color: blue;
}

.timeline-content p {
    font-family: 'Roboto';
    font-weight: 500;
}

.timeline-content a {
    text-decoration: none;
}


.timeline ul li:nth-child(odd) {
    float: left;
    clear: right;
}

.timeline ul li:nth-child(even) {
    float: right;
    clear: left;
}

.timeline ul li:nth-child(odd)::after {
    right: -56px;
}

.timeline ul li:nth-child(even)::after {
    left: -80px;
}

.slider-hobbies {
    overflow: hidden;
}

.slider__list {
    display: flex;
    gap: 2%;
    margin-top: 55px;
    text-align: center;
    cursor: pointer;

    transition: transform 300ms ease-in-out;
}

.slider-hobbie {
    flex: none;
    width: 50%;
}

.slider__btn {
    display: flex;
    margin-top: 15px;
}

.prev,
.next {
    padding: 4px 8px;
    color: blue;
    border: 1px solid blue;
    border-radius: 50%;
    cursor: pointer;
}

.next:hover,
.prev:hover {
    box-shadow: 0 0 10px #999;
}

.prev {
    margin-right: auto;
}

.footer {
    background-color: blue;
}

.footer__items {
    display: flex;
    justify-content: space-between;
    padding: 25px;
}

.footer__items li {
    font-size: 20px;
    font-family: 'Roboto';
    font-weight: 600;
    list-style: none;
    color: white;
}

.footer__items img {
    padding-right: 8px;
}
